.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color:white;
  text-decoration: none;   
}
  
.footer__column-link:hover {
  transition: .8s linear;
  opacity: .6;
}